<h1 mat-dialog-title> Agregar Nuevo Pais</h1>
<div mat-dialog-content>
    <form [formGroup]="paisesForm">
        <mat-form-field appearance="outline">
            <mat-label>ID Pais</mat-label>
            <input formControlName="idpais" matInput placeholder="Pais">
          </mat-form-field>
    
          <mat-form-field appearance="outline">
            <mat-label>Nombre Pais</mat-label>
            <input formControlName="nompais" matInput placeholder="Nombre">
          </mat-form-field>
    
          <mat-form-field appearance="outline">
            <mat-label>Continente</mat-label>
            <input formControlName="continente" matInput placeholder="Continente">
          </mat-form-field>
          
          <mat-form-field appearance="fill">
            <mat-label>Fecha de Registro</mat-label>
            <input formControlName="fecha" matInput [matDatepicker]="picker">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
    </form>

 </div>

<div mat-dialog-actions [align]="'end'">
<button style="margin-left: 8px;" mat-raised-button color="primary" (click)="addPais()">{{actionBtn}}</button>
<button mat-raised-button color="warn" mat-dialog-close="">Close</button>

</div>